.welcome{
    background-color: rgba(93, 14, 130, 0.97);
    color: white;
    text-align:left;
    padding: 1em;
    height: 10vh;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}
.exit{
    float: right;
    color: rgba(93, 14, 130, 0.97);
    background-color: #f3f5f7;
    border: 0;
    padding: 15px;
    margin: 10px 0 0 0;
    font-size: 15px;
    cursor: pointer;
    &:hover {
        color: #f3f5f7;
        background-color: rgba(93, 14, 130, 0.9);
        font-weight: 700;
        border: 0.5px inset #f3f5f7;
        transition: 0.5s ease;
    }
}
@media (max-width:768px){
    .exit{
        
    float:none;
    display: block;
    }
}
// end of title section


.tracker{
    display: flex;
    color: black;
}
.trackerBlock{
    border: 1px groove #f3f5f7;
    border-bottom: none;
    padding: 1em 1em 0 5em;
    color: rgba(99, 44, 94, 0.9);
    width: 25vw;
    margin: 0;
    input{
        padding: 0.7em;
        margin: 1em 0 3em 0;
        width: 15em;
        background-color: #DDE1E7;
        border: none;
    } 
    #price{
        background-color: rgb(247, 229, 232);
    }
    select{
        display: block;
        padding: 0.7em;
        margin: 1em 0 1em 0;
        width: 16.5em;
        background-color: #DDE1E7;
        border: none;
        option{
            background-color: #f3f5f7;
            padding: 1em;
            margin: 1em;
            font-size: 1rem;
        }
    }
    textarea{
        width: 16em;
        display: block;
        height: 10em;
        margin: 1em 0 1em 0;
        background-color: #DDE1E7;
    }
    label{
        display: block;
    }
    input[type=submit]{
        background-color: rgba(93, 14, 130, 0.9);
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        &:hover{
            border: 0.5px groove #f3f5f7;
            transition: 0.5s ease;
            background-color:#f3f5f7 ;
            color: rgba(93, 14, 130, 0.9);
        }
    }
}
.title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2em;
}
.totalCash{
    padding: 1em;
    font-weight: 700;
    color: rgba(93, 14, 130, 0.9);
}
#target{
    width: 200px;
    width: 200px;
}
// end of expense form section

.latestTransactions{
    border: 1px groove #f3f5f7;
    height: 150vh;
    background-color: white;
    color: rgba(99, 44, 94, 0.9);
    border-bottom: none;
    width: 40vw;
    margin: 0;
    padding: 10px;
    p {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0.5em 0 2em 0;
        padding: 0;
        text-transform: uppercase;
    }
    table {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        thead td{
            font-weight: 700;
        }
        tr{
            width: 100%;
            &:hover{
                background-color:#f3f5f7;
            }
        }
        td {
            border: none;
            border-bottom: 1px solid #ddd;
            padding: 7px 4px;
            margin:0 1em 0 1em;
        }
    }
}

// end of table of expenses section

.third{
    color: rgba(93, 14, 130, 0.9);
    .topF{
        display: flex;
        justify-content: space-between;
        margin: 1em 1em 1em 0;
        border-bottom: 1px solid #ddd;
        a{
        font-weight: 700;
        &:hover{
            text-decoration: none;
        }
    }
}
    .filters{
        padding: 0 0 0 1em;
    }
    input{
        padding: 0.7em;
        margin: 1em 0 3em 0;
        width: 15em;
        background-color: #DDE1E7;
        border: none;
    } 
    .lab{
        display: flex;
        width: 35%;
        justify-content: space-between;
    }
    .labin input{
        width: 6.8em;
    }
    #price{
        background-color: rgb(247, 229, 232);
    }
    select{
        display: block;
        padding: 0.7em;
        margin: 1em 0 1em 0;
        width: 16.5em;
        background-color: #DDE1E7;
        border: none;
        option{
            background-color: #f3f5f7;
            padding: 1em;
            margin: 1em;
            font-size: 1rem;
        }
    }
    input[type=checkbox]{
        width: 2em;
    }
}
@media screen and(max-width:768px) {
    .tracker{
        flex-direction: column;
    }
    .trackerBlock{
        border: none;
        width: auto;
        
    }
    .latestTransactions{
        border: none;
        width: auto;
        height: auto;
        padding-bottom: 10em;
    }
    
}