.main {
    border-radius: 5px;
    box-sizing: border-box;
    // text-align: center;
    background-color: white;
    padding: 20px 20px;
    width: 100%;
    max-width: 350px;
    margin: 100px auto;
    display: table;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.extra {
    text-align: center;
    margin: 7px 0 0 0;
    display: block;
    button {
        border: 0;
        background-color: unset;
        text-decoration: underline;
        color: grey;
        padding: 0;
        margin: 0;
        &:hover {
            color: rgba(99, 44, 94, 0.9);
            transition: 0.5s ease;
            text-decoration: none;
        }
        &:focus {
            font-weight: 700;
            transition: 0.5s ease;
        }
    }
}

.spinner {
    display: table;
    margin: 30vh auto;
    img {
        max-width: 50%;
    }
}

@import './login';
@import './register';
@import './tracker';
@import './transaction';